.women { fill: thistle; }
.men { fill: lightsteelblue; }
.women-selected { fill: plum; }
.men-selected { fill: steelblue; }

.error {
    color: red;
    margin-bottom: 10px;
    height: 16px;
    width: inherit;
}

.hidden { display:none; }

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}
