.women { fill: thistle; }
.men { fill: steelblue; }

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}
