/*Page Template Styling*/


.masthead { color: #5100a3; }

.masthead .nav {
    float: right;
    margin: 5px 10px 0 10px;
}

.masthead .nav a {
    color: #6600cc;
    font-size: 18px;
    margin: 0 10px 0 10px;
}

.masthead .nav a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #2e005d;
}

.footer {
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
