<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>My project</title>

        <!-- JS Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


        <!-- Stylesheets -->
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="stylesheets/dropzone.css" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">Diversity Dashboard</h3>
            </div>
            <div class="jumbotron">
                <div id="include-dropzone">
                    <div id="dropzone-error" class="error"><span></span></div>
                    <div id="include-dropzone" class="dropzone"></div>
                </div>
                <div id="include-chart">
                    <svg class="chart"></svg>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="js/loadData.js"></script>
    <script type="text/javascript" src="js/visualize.js"></script>

</html>
