<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>Diversity Dashboard</title>

        <!-- JS Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- Stylesheets -->
        <link href="stylesheets/dropzone.css" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <div class="nav">
                    <a class="dashboard-link">Dashboard</a>
                    <a class="help-link">Help</a>
                    <a href="https://github.com/mveritym/diversity-dashboard">Contribute</a>
                </div>
                <h3 class="dashboard-link">Diversity Dashboard</h3>
            </div>
            <div class="jumbotron">
                <div id="dashboard"></div>
                <div id="help-page"></div>
            </div>
        </div>
    </body>

    <script>
        $(document).ready(function() {
            $("#dashboard").load("partials/dashboard.html", function() {
                $.getScript("js/viewController.js");
                $.getScript("js/visualize.js");
                $.getScript("js/fileManager.js");
            });

            $("#help-page").load("partials/help-page.html").hide();

            $(".help-link").on("click", function() {
              $("#dashboard").hide();
              $("#help-page").show();
            });

            $(".dashboard-link").on("click", function() {
              $("#help-page").hide();
              $("#dashboard").show();
            });
        });
    </script>

</html>
