<link rel="stylesheet" href="stylesheets/dropzone.css">
<link rel="stylesheet" href="stylesheets/dashboard.css">

<div id="submit-buttons">
    <button class="btn success">Submit</button><br>
    <button class="btn upload-again">Upload Again</button>
</div>
<div id="dropzone-container">
    <div id="dropzone-error" class="error"><span></span></div>
    <div class="dropzone"></div>
</div>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div id="chart-container">
    <svg class="chart"></svg>
</div>
