<link href="stylesheets/help-page.css" rel="stylesheet">

<p> Diversity Dashboard makes visualizing your company's gender breakdown as
easy as dragging and dropping a file. Input files are never saved so your
information is always kept private.</p>

<h3>Uploading A File</h3>

<p> Your input file should be a CSV file with one employee's information per
line. You'll need a header row with at least the following titles: "Gender" and
"Role" (not case-sensitive). All extra columns will be ignored. </p>

<img src="images/example_csv.png"></img>

<p>For example, in this data set the employee ID and name columns will be
ignored. The input file will not be saved so this information stays private.
</p>

<p>If you have an Excel file of employee data you can export it to a CSV file
easily using <a
href="https://www.ablebits.com/office-addins-blog/2014/04/24/convert-excel-csv/">these
instructions</a>.</p>

<p>When you have a file ready, just drag and drop your file onto the page or click in the white box to upload your file.</p>
